---
name: wc-test
on: workflow_call

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          skip_push: true
      - uses: ./
        with:
          github_token: ${{github.token}}
