---
name: test
on: workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.12.1
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: pinact -v
      - run: ghcp -v
      - uses: ./
        with:
          skip_push: true
      - uses: ./
        with:
          github_token: ${{github.token}}
