---
name: wc-test
on: workflow_call

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          skip_push: true
      - uses: ./
        with:
          github_token: ${{github.token}}
